:root {
  --primary: rgb(242, 92, 193);
}

body {
  background-image: url("./assets/space_kitty_pattern.svg");
}

ul {
  list-style-type: none;
  padding: 0;
}

body,
.text-primary {
  color: var(--primary) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.bg-primary {
  background-color: var(--primary) !important;
}
